@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-changa-one), sans-serif;
  background-color: #10101a;
}

.font-alumni {
  font-family: var(--font-alumni-sans-pinstripe), sans-serif;
}
